/* ZAWARTOŚĆ MAIN */

:root {
    --gray-background: #eee;
    --banner-size: 70vh;
    --title-size: 100px;
    --main-blue: rgb(83, 111, 235);
    --border-main-blue: rgb(8, 42, 196);
}

main section.main-wrap {
    min-height: calc(100% - 27vh);
}

main section.main-wrap div.main-wrapper {
    margin: 2vh 10vh 0 10vh;
    background-color: #fff;
}

section.main-wrap div.main-wrapper button {
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    padding: 10px 30px;
    cursor: pointer;
}


div.main-wrapper button.active {
    background-color: var(--main-blue);
    color: white;
}

div.gallery-wrapper {
    display: none;
}

div.gallery-wrapper.active {
    display: block;
}

div.main-wrapper div.fuyuki-gallery {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

div.fuyuki-gallery a {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-bottom: 1vh;
}

div.fuyuki-gallery a img {
    width: 100%;
}