/* ZAWARTOŚĆ MAIN */

main section.main-wrap {
    min-height: calc(100% - 27vh);
}

main section.main-wrap div.main-wrapper {
    margin: 2vh 10vh 0 10vh;
}

section.main-wrap div.main-wrapper h2 {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 30px;
}

div.main-wrapper div.fuyuki-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

div.fuyuki-gallery a {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-bottom: 1vh;
}

div.fuyuki-gallery a img {
    width: 100%;
}