/* ZAWARTOŚĆ MAIN */

:root {
    --gray-background: #eee;
    --banner-size: 70vh;
    --title-size: 100px;
    --main-blue: rgb(83, 111, 235);
    --border-main-blue: rgb(8, 42, 196);
}

main section.main-wrap {
    min-height: calc(100% - 27vh);
}

main section.main-wrap div.main-wrapper {
    background-color: #fff;
}

.section-buttons-wrapper {
    display: flex;
    margin-bottom: 5px;
    padding-top: 5px;
}

.section-buttons {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;

}

.section-buttons .buttons-column {
    display: flex;
    flex-direction: column;

}

.section-buttons .buttons-column button {
    margin: 5px 10px;
    width: 180px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border: 1px solid black;
    cursor: pointer;
    letter-spacing: 1px;

}


div.main-wrapper button.active {
    background-color: var(--main-blue);
    color: white;
}

div.gallery-wrapper {
    display: none;
}

div.gallery-wrapper.active {
    display: block;
    /* margin-top: 20px; */
}

.sections-space {
    height: 20px;
    width: 100%;
    background-color: var(--gray-background);
}

div.main-wrapper div.fuyuki-gallery {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

div.chapter-title {
    position: relative;
    height: 70px;
}

div.chapter-title h2.chapter-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    margin: 15px;
    font-size: 30px;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
}

div.fuyuki-gallery a {
    -ms-flex-preferred-size: 30%;
    flex-basis: 21%;
    margin-bottom: 1vh;
}

div.fuyuki-gallery a img {
    width: 100%;
}