:root {
    --gray-background: #eee;
    --banner-size: 70vh;
    --title-size: 100px;
    --main-blue: rgb(83, 111, 235);
    --border-main-blue: rgb(8, 42, 196);
}

main section.main-wrap div.article-wrap {
    margin: 5vh 10vh 0 10vh;
}


section.main-wrap div.main-wrapper {
    position: relative;
    background-color: #fff;
}

.arc1-title {
    margin: 0 430px;
    padding: 10px 0;
    border-bottom: 2px solid var(--main-blue);
}

h2.arc-1 {
    color: var(--main-blue);

    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
}

.wrapper main section.main-wrap div.main-wrapper div.arc1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.single-singu-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.single-singu-wrap>.single-singu-banner {
    margin-left: 10px;
    flex-basis: 40%;
}

.single-singu-wrap>.single-singu-buttons {
    flex-basis: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.arc1>.single-singu-wrap>.single-singu-buttons button {
    display: block;
    padding: 10px 35px;
    font-family: roboto;
    color: white;
    /* background-color: rgb(221, 84, 30); */
    background-color: var(--main-blue);
    border: 1px solid black;
    box-shadow: 0 0 0 2px silver, 0 0 0 3px black;
    cursor: pointer;
    transition: 0.3s;
}

div.arc1>.single-singu-wrap>.single-singu-buttons button:hover {
    background-color: rgb(221, 84, 30);
    ;
}

div.arc1>.single-singu-wrap:nth-child(3)>.single-singu-buttons button:hover {
    background-color: rgb(8, 129, 38);
}

div.arc1>.single-singu-wrap:nth-child(5)>.single-singu-buttons button:hover {
    background-color: rgb(212, 166, 16);
}

div.arc1>.single-singu-wrap:nth-child(7)>.single-singu-buttons button:hover {
    background-color: rgb(21, 88, 177);
}

div.arc1>.single-singu-wrap:nth-child(9)>.single-singu-buttons button:hover {
    background-color: rgb(170, 170, 170);
}

div.arc1>.single-singu-wrap:nth-child(11)>.single-singu-buttons button:hover {
    background-color: rgb(159, 11, 179);
}

div.arc1>.single-singu-wrap:nth-child(13)>.single-singu-buttons button:hover {
    background-color: rgb(189, 16, 16);
}

div.arc1>.single-singu-wrap:nth-child(15)>.single-singu-buttons button:hover {
    background-color: rgb(0, 0, 0);
}

div.arc1>.single-singu-wrap:nth-child(17)>.single-singu-buttons button:hover {
    background-color: rgb(242, 248, 157);
    color: black;
}


div.fuyuki-baner img {
    width: 100%;
}

div.separation {
    width: 95%;
    height: 0px;
    -webkit-box-shadow: 0 0 2px 1px blue;
    box-shadow: 0 0 2px 1px blue;
    border-radius: 50%;
    margin: 0 auto;
}

/* Popup */
.popup-blur {
    display: none;
}

.popup-blur.active {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;


}

.story-alert {
    display: none;
}

.story-alert.active {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: var(--main-blue);
    z-index: 11;
}


.popup-text {
    color: white;
    text-align: justify;
    padding: 40px 25px;
}

.popup-text p:nth-child(1) {
    padding-bottom: 20px;
}

.read-mode {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: white;
}

.read-mode button {
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    font-size: 15px;
    color: var(--border-main-blue);
    background-color: #fff;
    border: 2px solid var(--border-main-blue);
    cursor: pointer;
}

.read-mode a {
    text-decoration: none;
}

.read-mode button:hover {
    color: #fff;
    background-color: var(--border-main-blue);
}

p.popup-reference {
    margin: 0 25px 10px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
}

.close-popup {
    position: absolute;
    height: 35px;
    width: 35px;
    color: white;
    /* border-radius: 50%; */
    background-color: var(--border-main-blue);
    top: 0;
    right: 0;
    cursor: pointer;
}

.close-popup span {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}