* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background-image: url("../image/bodyBackground.jpg"); */
  font-family: 'roboto', arial, sans-serif;
  background-color: #eee;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
}

.wrapper header {
  position: relative;
  width: 100%;
  height: 35vh;
}

.wrapper header .banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
}

.wrapper header .banner img {
  width: 100%;
  height: 100%;
}

.wrapper header .logo {
  width: 20%;
  font-family: arial;
  font-size: 50px;
  color: #333;
  border: 1px solid #333;
  line-height: 35vh;
  text-align: center;
}

.wrapper nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 5vh;
  background-color: #aaa;
  z-index: 1;
}

.wrapper nav ul {
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper nav ul li {
  width: 20%;
  height: 100%;
  border-right: 2px solid #eee;
  background-image: -webkit-gradient(linear, left top, right top, from(#154397), color-stop(10%, #1d4ea8), color-stop(50%, #2e67cf), color-stop(90%, #1d4ea8), to(#154397));
  background-image: linear-gradient(90deg, #154397 0%, #1d4ea8 10%, #2e67cf 50%, #1d4ea8 90%, #154397 100%);
}

.wrapper nav ul li:nth-last-child(1) {
  border-right: none;
  pointer-events: default;
}

.wrapper nav ul li a {
  display: block;
  position: relative;
  color: #eee;
  text-decoration: none;
  width: 100%;
  text-align: center;
  line-height: 5vh;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: 1px;
}

.wrapper nav ul li a div.nav-left {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 0 solid #10024b;
  border-top: calc(5vh / 2) solid transparent;
  border-bottom: calc(5vh / 2) solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper nav ul li a div.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 0 solid #10024b;
  border-top: calc(5vh / 2) solid transparent;
  border-bottom: calc(5vh / 2) solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper nav ul li a i {
  margin-left: 2%;
}

.wrapper nav ul li a:hover {
  color: #10024b;
}

.wrapper nav ul li a:hover div.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  border-right: calc(2vw / 3) solid #10024b;
  border-top: calc(5vh / 2) solid transparent;
  border-bottom: calc(5vh / 2) solid transparent;
}

.wrapper nav ul li a:hover div.nav-left {
  position: absolute;
  top: 0;
  left: 0;
  border-left: calc(2vw / 3) solid #10024b;
  border-top: calc(5vh / 2) solid transparent;
  border-bottom: calc(5vh / 2) solid transparent;
}

div.dropdown.active {
  display: block;
  width: 100%;
}

div.dropdown.active div.li-container {
  height: 4vh;
  background-image: linear-gradient(45deg, #154397 0%, #1d4ea8 10%, #2e67cf 50%, #1d4ea8 90%, #154397 100%);
  border-top: 1px solid #A0B86E;
}

div.dropdown.active div.li-container:nth-child(1) {
  border-top: none;
}

div.dropdown.active div.li-container a.li-translate {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 4vh;
  font-size: 10px;
  letter-spacing: 1px;
}

div.dropdown.active div.li-container a.li-translate:hover {
  color: #10024b;
}

.dropdown {
  display: none;
}

div.dropdownx.active {
  display: block;
  width: 100%;
}

div.dropdownx.active div.li-container {
  height: 4vh;
  background-image: linear-gradient(45deg, #154397 0%, #1d4ea8 10%, #2e67cf 50%, #1d4ea8 90%, #154397 100%);
  border-top: 1px solid #A0B86E;
}

div.dropdownx.active div.li-container:nth-child(1) {
  border-top: none;
}

div.dropdownx.active div.li-container a.li-translate {
  line-height: 4vh;
  font-size: 10px;
}

div.dropdownx {
  display: none;
}

.wrapper nav ul li a.triangles {
  color: #10024b;
}

.wrapper nav ul li a.triangles div.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  border-right: calc(2vw / 3) solid #10024b;
  border-top: calc(5vh / 2) solid transparent;
  border-bottom: calc(5vh / 2) solid transparent;
}

.wrapper nav ul li a.triangles div.nav-left {
  position: absolute;
  top: 0;
  left: 0;
  border-left: calc(2vw / 3) solid #10024b;
  border-top: calc(5vh / 2) solid transparent;
  border-bottom: calc(5vh / 2) solid transparent;
}

.wrapper main {
  width: 100%;
  min-height: 100vh;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper main section.news-banner-wrap {
  width: 100%;
  height: 27vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper main section.news-banner-wrap div.news-banner {
  position: relative;
  min-width: 40%;
  padding: 0 2vw;
  color: #eee;
  border: 2px solid #10024b;
  -webkit-box-shadow: 0 0 4px 2px #10024b;
  box-shadow: 0 0 4px 2px #10024b;
  text-shadow: -1px 0 B02F08, 0 1px B02F08, 1px 0 B02F08, 0 -1px B02F08;
  line-height: 10vh;
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  cursor: default;
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(45deg, #154397 0%, #1d4ea8 10%, #2e67cf 50%, #1d4ea8 90%, #154397 100%);
}

.wrapper main section.news-banner-wrap div.news-banner div.left {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1vw solid #10024b;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
}

.wrapper main section.news-banner-wrap div.news-banner div.right {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 1vw solid #10024b;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
}

.wrapper main section.aside-right {
  width: 20%;
  min-height: calc(100% - 27vh);
}

.wrapper main section.aside-right div.actual-event {
  width: 100%;
}

.wrapper main section.aside-right div.actual-event h2 {
  display: inline-block;
  padding-bottom: 1vh;
  margin-bottom: 6vh;
  font-size: 18px;
  border-bottom: 1px solid #333;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 0;
}

.wrapper main section.aside-right div.actual-event div {
  width: 90%;
  margin: 0 auto;
}

.wrapper main section.aside-right div.actual-event div img {
  width: 100%;
}

.wrapper main section.aside-right div.actual-event div p {
  font-size: 12px;
  text-align: center;
  margin-top: 1vh;
}

.wrapper main section.aside-right div.actual-event div span {
  display: block;
  font-size: 10px;
  text-align: right;
  margin-top: 1vh;
}

.wrapper main section.aside-right div.upcoming-events {
  width: 100%;
  margin-top: 8vh;
}

.wrapper main section.aside-right div.upcoming-events h2 {
  display: inline-block;
  padding-bottom: 1vh;
  margin-bottom: 6vh;
  font-size: 18px;
  border-bottom: 1px solid #333;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.wrapper main section.aside-right div.upcoming-events div {
  width: 90%;
  margin: 0 auto;
}

.wrapper main section.aside-right div.upcoming-events img {
  width: 100%;
}

.wrapper main section.aside-right div.upcoming-events p {
  font-size: 12px;
  text-align: center;
  margin-top: 1vh;
}

.wrapper main section.aside-right div.upcoming-events span {
  display: block;
  font-size: 10px;
  text-align: right;
  margin-top: 1vh;
  margin-bottom: 4vh;
}

main section.main-wrap {
  width: 60%;
  min-height: calc(100% - 27vh);
}



.wrapper main section.aside-left {
  width: 20%;
  min-height: calc(100% - 27vh);
}

.wrapper main section.aside-left div.actual-event {
  width: 100%;
}

.wrapper main section.aside-left div.actual-event h2 {
  display: inline-block;
  padding-bottom: 1vh;
  margin-bottom: 6vh;
  font-size: 18px;
  border-bottom: 1px solid #333;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 0;
}

.wrapper main section.aside-left div.actual-event div {
  width: 90%;
  margin: 0 auto;
}

.wrapper main section.aside-left div.actual-event div img {
  width: 100%;
}

.wrapper main section.aside-left div.actual-event div p {
  font-size: 12px;
  text-align: center;
  margin-top: 1vh;
}

.wrapper main section.aside-left div.actual-event div span {
  display: block;
  font-size: 10px;
  text-align: right;
  margin-top: 1vh;
}

.wrapper main section.aside-left div.upcoming-events {
  width: 100%;
  margin-top: 8vh;
}

.wrapper main section.aside-left div.upcoming-events h2 {
  display: inline-block;
  padding-bottom: 1vh;
  margin-bottom: 6vh;
  font-size: 18px;
  border-bottom: 1px solid #333;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.wrapper main section.aside-left div.upcoming-events div {
  width: 90%;
  margin: 0 auto;
}

.wrapper main section.aside-left div.upcoming-events img {
  width: 100%;
}

.wrapper main section.aside-left div.upcoming-events p {
  font-size: 12px;
  text-align: center;
  margin-top: 1vh;
}

.wrapper main section.aside-left div.upcoming-events span {
  display: block;
  font-size: 10px;
  text-align: right;
  margin-top: 1vh;
  margin-bottom: 4vh;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: black;
  margin-top: 2vh;
}

div.up-elevator.show {
  display: block;
  position: fixed;
  bottom: 8vh;
  right: 3vh;
  font-size: 40px;
  cursor: pointer;
}

.up-elevator i {
  color: #444;
}

div.up-elevator {
  display: none;
}

/* end */